
{%- set source_engine = salt['pillar.get']('cassandra:server:source:engine') %}

{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - cassandra
  dir:
    base: /etc/cassandra
  services:
  - cassandra
RedHat:
  pkgs:
  - cassandra
  dir:
    base: /etc/cassandra
  services:
  - cassandra

backup:
  Debian:
    pkgs:
    - rsync
    backup_dir: '/var/backups/cassandra'
    cron: True
  RedHat:
    pkgs:
    - rsync
    backup_dir: '/var/backups/cassandra'
    cron: True

{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('cassandra:server')) %}

{% set backup  = salt['grains.filter_by'](base_defaults['backup'], merge=salt['pillar.get']('cassandra:backup', {}), base='backup') %}
